### What is data binning?

Data binning, bucketing is a data pre-processing method used to minimize the effects of small observation errors. The original data values are divided into small intervals known as bins and then they are replaced by a general value calculated for that bin. This has a smoothing effect on the input data and may also reduce the chances of overfitting in the case of small datasets.
It is used to convert numerical data into Discretre or Categorical.


Binning is useful for :
- To handel outliers better.
- To improve valu e spread.

------------------------------------------------------------
#### Binning classes:-
>UNSUPERVISED BINNING

- Equal width(Uniform)
- Equal frequency(Quantile)
- K Means 

>SUPERVISED BINNING

- Decision Tree Binning

>CUSTOM BINNING

 ##### Custom Binning :-

In [1]:
import pandas as pd
import numpy as np

In [2]:
marks = {"Students" :["Prakash", "Kishan" ," Kshitieej", "Raunak" , "Sankalp" , "Prem","Rittick","Sourab"],
         "Marks":[98,88,58,69,40,88,77,50]}

In [3]:
marks_data = pd.DataFrame(marks)

In [4]:
marks_data

     Students  Marks
0     Prakash     98
1      Kishan     88
2   Kshitieej     58
3      Raunak     69
4     Sankalp     40
5        Prem     88
6     Rittick     77
7      Sourab     50

Note : Pandas cut() function is used to separate the array elements into different bins(We basically tell the bins we want, and it will create the bins irrespective of equal intervals).

In [5]:
bins = [0,20,45,75,100]

# Groups names 
group_name = ["Fail","Pass","Good","Excellent"]
marks_data["grades"] = pd.cut(marks_data["Marks"],bins,labels =group_name)

In [6]:
marks_data

     Students  Marks     grades
0     Prakash     98  Excellent
1      Kishan     88  Excellent
2   Kshitieej     58       Good
3      Raunak     69       Good
4     Sankalp     40       Pass
5        Prem     88  Excellent
6     Rittick     77  Excellent
7      Sourab     50       Good

#### Equal Width Binning :-

Note :  In order to create equal size bins we will be using the qcut fucntion.
++ In order to get the number of bins for equal intervals we will be using the below mentioned formula

Advantage  - To handel outliers and there is no differnce in spread
- n = number of bins 
> MAX(value)-Min(value)/n

In [10]:
max_marks = max(marks_data["Marks"])
min_marks = min(marks_data["Marks"])
print(max_marks,min_marks)

98 40

In [13]:
bins = 10
marks_bins = (max_marks - min_marks) / bins

In [14]:
print(marks_bins)

5.8

#### Equal frequency binning :-

Suppose the interval is 10.
Then the bins will be 10 percentile apart from each other, i.e they will show the percentile values below 10,20,30,40,... from the dataset.
- This is used more often than equal width binning.
- This is used to hadel outlier and imporves the value spread of the data.

#### K-Means Binning or Cluster binning:-

- It is used when the data is in cluster.
>Suppose interval/Centroids is 5.
Then we calculate the distance of all the data points with all the Centroids.
The distance the data point to the centroid is evaluated.
Then we shift the centroid, and iterate the process again.

K-Means DIscritization is called from the sklearn library to perform this binning.

Parameters used --  bins , strategy(uniform, quatile, K-means), encoding(ordinal , one-hot encoding).