#### One Hot Encoding

In [3]:
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
df = pd.DataFrame({
    'colour' : [ 'red','blue','green', 'red','blue','green']})

In [7]:
df.head()

  colour
0    red
1   blue
2  green
3    red
4   blue

In [2]:
## initializing 
encoder = OneHotEncoder()

In [10]:
## transforming the colour column
encoded = encoder.fit_transform(df[['colour']])

In [11]:
encoder

OneHotEncoder()

In [15]:

df1 = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [16]:
df1.head()

   colour_blue  colour_green  colour_red
0          0.0           0.0         1.0
1          1.0           0.0         0.0
2          0.0           1.0         0.0
3          0.0           0.0         1.0
4          1.0           0.0         0.0

In [18]:
## concatinating both the dataframes
pd.concat([df,df1],axis = 1)

  colour  colour_blue  colour_green  colour_red
0    red          0.0           0.0         1.0
1   blue          1.0           0.0         0.0
2  green          0.0           1.0         0.0
3    red          0.0           0.0         1.0
4   blue          1.0           0.0         0.0
5  green          0.0           1.0         0.0

In [22]:
df2 = sns.load_dataset('tips')
df2.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [21]:
encoder = OneHotEncoder()

In [27]:
encoded = encoder.fit_transform(df2[['time']])

In [31]:
df_time = pd.DataFrame(encoded.toarray(),columns = encoder.get_feature_names_out())

In [33]:
final_df = pd.concat([df_time,df2] , axis = 1)

In [34]:
final_df.head()

   time_Dinner  time_Lunch  total_bill   tip     sex smoker  day    time  size
0          1.0         0.0       16.99  1.01  Female     No  Sun  Dinner     2
1          1.0         0.0       10.34  1.66    Male     No  Sun  Dinner     3
2          1.0         0.0       21.01  3.50    Male     No  Sun  Dinner     3
3          1.0         0.0       23.68  3.31    Male     No  Sun  Dinner     2
4          1.0         0.0       24.59  3.61  Female     No  Sun  Dinner     4