#### Handling imbalanced datasets

- Downsampling involves randomly removing observations from the majorityclass to prevent its signal from dominating the learning algorithm.
- Upsampling is the process of randomly duplicating observations from theminority class to reinforce its signal.

In [1]:
import numpy as np
import pandas as pd

In [6]:
np.random.seed(123)
n_samples =  1000
## creating the ratio
class_0_ratio = 0.9
# multiplying 1000 * 0.9 to get 900 data points in class0
n_class_0 = int(n_samples * class_0_ratio)
## subtracting (1000 - 900)
n_class_1 = n_samples - n_class_0

In [7]:
n_class_0 ,n_class_1

(900, 100)

In [8]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [9]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [10]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [11]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

#### UPSAMPLING

In [12]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [13]:
df_majority.head(3)

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0

In [14]:
df_minority.head(3)

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1

In [15]:
##Upsampling perform
from sklearn.utils import resample

In [18]:
df_minority_upsample=resample(df_minority,
                             replace=True, ## Sample With replacement
                              n_samples=len(df_majority), # to match the majority class)
                              random_state=42
                             )

In [19]:
df_minority_upsample.shape

(900, 3)

In [20]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [21]:
df_upsampled= pd.concat([df_majority,df_minority_upsample])

In [22]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [23]:
df_upsampled.shape

(1800, 3)

#### Downsampling

In [26]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [27]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [28]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [29]:
df_majority_downsample=resample(df_majority,
                             replace=False, ## Sample Without replacement
                              n_samples=len(df_minority), # to match the minority class)
                              random_state=42
                             )

In [30]:
df_majority_downsample.shape

(100, 3)

In [31]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [32]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64