#### UNIT VECTOR

Vector having a magnitute of one.

eg, 

xvector = (3,4)

xvector = rootover 3^2 + 4^2 = 5

unitvector = 3/magnitute of xvector , 4/ magnitude of xvector => 3/5 , 4/5
magnitude of u = rootover(3/5)^2 + (4/5)^2 = 1

In [1]:
import seaborn as sns
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [2]:
from sklearn.preprocessing import normalize

In [4]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [9]:
import pandas as pd
df1 = pd.DataFrame(normalize(df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]),
                  columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

In [10]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width
0      0.803773     0.551609      0.220644     0.031521
1      0.828133     0.507020      0.236609     0.033801
2      0.805333     0.548312      0.222752     0.034269
3      0.800030     0.539151      0.260879     0.034784
4      0.790965     0.569495      0.221470     0.031639